*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.titolo{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: inline-block;
    line-height: 100px;
}   

.logo{
    height: 100px;
    vertical-align: bottom;
}

.logo-titolo{
    height: 100px;
    margin-bottom: 20px;
}

.contenitore{
    
}

.bottone-blu{
    background-color: blue;
    color: white;
    border-radius: 10px;
    height: 30px;
    width: 80px;
    

}

.bottone-bianco{
    background-color: white;
    color: black;
    border-radius: 10px;
    height: 30px;
    width: 100px;
}


ul {
    margin-left: 50px;
    margin-bottom: 20px;
   
    list-style-type: 
   
}

.rettangolo-blu{
    background-color:blue;
   


}

.rettangolo{
    border-radius: 15px;
    padding: 10px;
    margin-left: 5px;
    color: white;
    font-size: 10px;

}

.rettangolo-viola{
    background-color: blueviolet;
}

.rettangolo-verde-scuro{
    background-color: green;
}

.rettangolo-arancione{
    background-color: orange;
}
.rettangolo-fuchsia{
    background-color: fuchsia;
}

.rettangolo-verde-chiaro{
    background-color: lightgreen;
}
    